NEXT_PUBLIC_SUPABASE_URL=https://zjdclqhhdpfssrwphmwb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpqZGNscWhoZHBmc3Nyd3BobXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTUyNzU1MiwiZXhwIjoyMDg1MTAzNTUyfQ.9q8GkySeyRG5Qika1l69HwfEe45yXIsNJlxoRh7NEIM
